{
    "parser": "vue-eslint-parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "@nuxtjs",
        "plugin:vue/recommended",
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/vue"
    ],
    "globals": {
        "$nuxt": true
    },
    "parserOptions": {
        "parser": "@typescript-eslint/parser"
    },
    "rules": {
        "vue/require-component-is": "off",
        "space-before-function-paren": "off",
        "@typescript-eslint/no-unused-vars": ["error", { "args": "none", "argsIgnorePattern": "^_" }],
        "indent": ["error", 2],
        "semi": ["error", "never"],
        "getter-return": "off",
        "@typescript-eslint/no-this-alias": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-member-accessibility": "off",
        // "@typescript-eslint/member-delimiter-style": "off",
        "@typescript-eslint/no-empty-interface": "error",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-parameter-properties": "off",
        "@typescript-eslint/no-use-before-define": [ "error", "nofunc" ],
        "eol-last": [ "warn", "always" ],
        "no-unused-vars": "off",
        "require-await": "off"
        // Apply prettier rules when using ESLint
        // https://prettier.io/docs/en/integrating-with-linters.html
        // "prettier/prettier": "error",
        // "sort-imports-es6-autofix/sort-imports-es6": ["error", {
        //   "ignoreCase": false,
        //   "ignoreMemberSort": false,
        //   "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
        // }],
        // "import/order": ["error", {
        //   "groups": ["builtin", "external", "internal"],
        //   "newlines-between": "always"
        // }]
        // "valid-jsdoc": ["error", {
        //   "requireReturn": false,
        //   "requireReturnType": false,
        //   "requireParamType": false,
        //   "requireParamDescription": false
        // }],
        // "require-jsdoc": ["error", {
        //   "require": {
        //     "FunctionDeclaration": true,
        //     "MethodDefinition": true,
        //     "ClassDeclaration": true,
        //     "ArrowFunctionExpression": true,
        //     "FunctionExpression": false
        //   }
        // }]
    }
}