.env

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/
dist/
.nuxt

# Versions
public

# Dynamic Assets
static/media/
tmp/
assets/static/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

# PWA
sw.*

# firebase
.firebase