// Container blocks
.block {
  position: relative;
  z-index: 2;
  margin-bottom: 4em;
  border: 0.5ch solid white;
  border-radius: 0;
  background: #07080D;

  &.borderless {
    border: 0;

    &.with-shadow-left::before {
      left: 0;
    }
  }

  &.with-padding {
    padding: 32px;
  }
  &.with-small-padding {
    padding: 24px;
  }

  &.with-shadow-left {
    &::before {
      content: '';
      position: absolute;
      right: 4ch;
      bottom: -1em;
      left: -0.5ch;
      z-index: -2;
      border-bottom: 1em solid white;
    }
  }
  &.with-shadow-right {
    &::before {
      content: '';
      position: absolute;
      top: 4ch;
      right: -0.5ch;
      bottom: -0.5ch;
      left: 4ch;
      z-index: -1;
      box-shadow: 0 1em 0 white;
    }
  }
  &.with-shadow-center {
    &::before {
      content: '';
      position: absolute;
      top: 4ch;
      right: -0.5ch;
      bottom: -0.5ch;
      left: -0.5ch;
      z-index: -1;
      box-shadow: 0 1em 0 white;
    }
  }

  .title {
    display: block;
    width: 100%;
    margin: -1px 0;
    padding: 1ch 1em;
    background: white;
    color: black;
    font-size: 1.2em;
    text-align: center;
  }

  &.small {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
}