$color-primary: #0924D1;
$color-background: #08080E;
$color-secondary: rgb(249,213,143);

$color-grey: #666;
$color-grey-light: #AAA;

$color-text-primary: #dd6b20;
$color-text-primary-dark: darken(#dd6b20, 20%);

$color-green: #00e232;
$color-red: #ff004d;