
.content {
  h1,
  h2,
  h3,
  h4,
  p,
  img,
  ul,
  ol {
    margin-bottom: 1em;
  }

  ul,
  ol {
    margin-left: 1em;
  }

  h1 {
    margin-bottom: 0;
    font-size: 2.6rem;
  }

  h2 {
    margin-bottom: 0;
    padding: 0.5em 0;
    font-size: 2.2rem;
    line-height: 40px;

    &::before {
      content: '► '
    }
  }

  h3 {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1.8rem;

    &::before {
      content: '►► '
    }
  }

  h4 {
    font-size: 1.4rem;
  }

  ul {
    list-style-position: outside;
    list-style-type: disc;
  }

  em {
    color: #ffe727;
    font-style: normal;
    text-transform: none;
  }

  strong {
    color: #ff004d;
  }

  code {
    color: pink;
  }

  ol {
    list-style-position: inside;
    list-style-type: decimal;
  }

  & > * {
    margin-bottom: 1em;
  }

  pre, code {
    font-style: italic;
    font-family: $font-body;
  }

  a, .link {
    color: #00e232;
    text-decoration: dotted;
  }

  /deep/ .chip {
    margin-right: 0 !important;
  }

  .without-margin {
    margin-top: -24px;
    margin-right: -24px;
    margin-left: -24px;
  }
}