img.lazy {
  opacity: 1;
  transition: filter ease-in-out 1s;
  transition-delay: 0.1s;
  image-rendering: pixelated;
}

img.circled {
  mask-image: url(/media/circle.png);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}

img.bordered {
  mask-image: url(/border.png);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}