/* purgecss start ignore */
@import "~/assets/css/colors";
@import "~/assets/css/variables";

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Web_DOS-V_TWN16';
  src: url("/fonts/Web_DOS-V_TWN16.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: og-emoji;
  src: url("/fonts/og-dcm-emoji.ttf");
  font-display: swap;
}

.page-wrapper {
  position: relative;
  display: block;
  align-items: center;
  width: 100%;
  padding: 4rem 0;
  color: white;

  &.full {
    min-height: 100vh;
  }
  &.color {
    background: #08080EAA;
  }

  &.limited {
    max-width: 600px;
  }
}

hr {
  margin: 1em 0;
}

.skew, .skew-left {
  transform: skewY(-2deg);
  transform-origin: top right;
}
.skew-right {
  transform: skewY(2deg);
  transform-origin: top left;
}

body {
  overflow: overlay;
  overflow-x: hidden;
  background-color: #08080E;
  color: $color-grey;
  font-size: 20px;
  font-family: $font-body !important;
  overflow-wrap: break-word;
  hyphens: none;
}
.hypens {
  hyphens: auto;
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-track {
  background: #08080EFF;
}

.font-header {
  font-family: $font-header;
}

.container {
  @media (min-width: theme('screens.sm')) {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.page {
  min-height: calc(100vh - 400px - 100px);
}

.page-enter-active {
  transition: all .3s .3s ease-in-out;
}

.page-leave-active {
  transition: all .3s ease-in-out;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateX(10px);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-header;
}

.link {
  position: relative;
  outline: none !important;

  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
    transform: scale3d(0, 1, 1);
    transform-origin: center right;
  }

  &:hover::before,
  &.active::before {
    transform: scale3d(1, 1, 1);
    transform-origin: center left;
  }
}


$pswp__assets-path: "~photoswipe/src/css/default-skin/";

img {
  pointer-events: none;
  user-select: none !important;
}

nav.px-mobile,
p.px-mobile,
div.px-mobile {
  @media (max-width: theme('screens.sm')) {
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    p.px-mobile,
    div.px-mobile {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.pswp__bg {
  background-color: white;
}

// .pswp__top-bar {
//   display: none;
// }

// .pswp__caption {
//   display: none;
// }

@media (min-width: theme('screens.sm')) {
  .container {
    padding-right: 48px;
    padding-left: 48px;
  }
}

.green {
  color: #00e232;
}
.red {
  color: #ff004d;
}
.yellow {
  color: #ffe727;
}

@import "./aos.scss";
@import "./block.scss";
@import "./content.scss";
@import "./lazy-image.scss";
@import "./squares.scss";
@import "./prism.scss";

// @import "./pixel-art.scss";

/* purgecss end ignore */